@import "tailwindcss";


html,
body {
  background-color: #020617 !important;
  /* Tailwind's bg-slate-950 exact hex code */
  color: #cbd5e1;
  /* text-slate-300 */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}